@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap");

header {
  text-align: center;
}

h1 {
  font-family: "Roboto Mono", monospace;
  color: rgb(255, 208, 0);
}

#number-generator-button {
  background-color: rgb(255, 208, 0);
  color: rgb(77, 77, 77);
  border: none;
  width: 350px;
  height: 50px;
  transition: all 0.2s ease;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
}

#number-generator-button:hover {
  background-color: rgb(49, 49, 49);
  color: rgb(255, 208, 0);
}

#number-generator-button:active {
  color: rgb(77, 77, 77);
}

#number-display {
  font-family: "Roboto Mono", monospace;
  color: rgb(255, 208, 0);
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
  margin: 0 0 35px 0;
}

#grid-container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(15, 1fr);
}

.grid-items {
  text-align: center;
  display: inline;
  background-color: rgb(49, 49, 49);
  color: rgb(255, 208, 0);
  padding: 7px 18px 7px 18px;
  font-size: 27px;
  font-family: "Roboto Mono", monospace;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.2s ease;
}

.highlighted {
  background-color: rgb(255, 208, 0);
  color: rgb(77, 77, 77);
}

body {
  background-color: rgb(77, 77, 77);
  transition: all 0.2s ease;
  margin: 0;
  text-align: center;
}

#reset-button {
  margin-top: 40px;
  background-color: rgb(49, 49, 49);
  color: rgb(255, 208, 0);
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.2s ease;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
}

#reset-button:active {
  background-color: rgb(255, 208, 0);
  color: rgb(77, 77, 77);
}

footer {
  font-family: "Roboto Mono", monospace;
  position: absolute;
  display: inline;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 20px;
  color: rgb(77, 77, 77);
  background-color: rgb(77, 77, 77);
  transition: all 0.2s ease;
}

footer:hover {
  color: rgb(255, 208, 0);
  background-color: rgb(49, 49, 49);
}

footer p {
  display: inline;
}

html {
  min-height: 100%;
}

body {
  overflow: hidden;
}

#toggle-themes-button {
  position: absolute;
  background-color: rgb(255, 208, 0);
  color: rgb(77, 77, 77);
  transition: all 0.2s ease;
  border: none;
  width: 175px;
  height: 35px;
  border-radius: 4px;
  font-size: 17px;
  font-family: "Roboto Mono", monospace;
  top: 0px;
  right: 0px;
  margin-top: 10px;
  margin-right: 10px;
}
