@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap");

header {
  text-align: center;
}

:root {
  --text-colour: hsl(49, 100%, 50%);
  --primary-colour: hsl(0, 0%, 30%);
  --secondary-colour: hsl(0, 0%, 19%);
  --highlight: hsl(49, 100%, 50%);
}

:root.light-mode {
  --text-colour: hsl(0, 0%, 100%);
  --primary-colour: hsl(0, 0%, 56%);
  --secondary-colour: hsl(0, 0%, 17%);
  --highlight: hsl(0, 0%, 100%);
}

h1 {
  font-family: "Roboto Mono", monospace;
  color: var(--text-colour);
}

#number-generator-button {
  background-color: var(--highlight);
  color: var(--primary-colour);
  border: none;
  width: 350px;
  height: 50px;
  transition: all 0.2s ease;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
}

#number-generator-button:hover {
  background-color: var(--secondary-colour);
  color: var(--text-colour);
}

#number-generator-button:active {
  color: var(--primary-colour);
}

#number-display {
  font-family: "Roboto Mono", monospace;
  color: var(--text-colour);
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
  margin: 0 0 35px 0;
}

#grid-container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(15, 1fr);
}

.grid-items {
  text-align: center;
  display: inline;
  background-color: var(--secondary-colour);
  color: var(--text-colour);
  padding: 7px 18px 7px 18px;
  font-size: 27px;
  font-family: "Roboto Mono", monospace;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.2s ease;
}

.highlighted {
  background-color: var(--highlight);
  color: var(--primary-colour);
}

body {
  background-color: var(--primary-colour);
  transition: all 0.2s ease;
  margin: 0;
  text-align: center;
}

#reset-button {
  margin-top: 40px;
  background-color: var(--secondary-colour);
  color: var(--text-colour);
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.2s ease;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
}

#reset-button:active {
  background-color: var(--highlight);
  color: var(--primary-colour);
}

footer {
  font-family: "Roboto Mono", monospace;
  position: absolute;
  display: inline;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 20px;
  color: var(--primary-colour);
  background-color: var(--primary-colour);
  transition: all 0.2s ease;
}

footer:hover {
  color: var(--highlight);
  background-color: var(--secondary-colour);
}

footer p {
  display: inline;
}

html {
  min-height: 100%;
}

body {
  overflow: hidden;
}

#toggle-themes-button {
  position: absolute;
  background-color: var(--highlight);
  color: var(--primary-colour);
  transition: all 0.2s ease;
  border: none;
  width: 175px;
  height: 35px;
  border-radius: 4px;
  font-size: 17px;
  font-family: "Roboto Mono", monospace;
  top: 0px;
  right: 0px;
  margin-top: 10px;
  margin-right: 10px;
}
